td {
  height: 50px; /* 셀 높이 */
  width: 50px; /* 셀 높이 */
  border: 1px solid #ccc; /* 셀 경계선 */
  background-color: #f9f9f9; /* 기본 배경색 */
}

td:hover {
  background-color: #e0e0e0; /* 호버 시 배경색 변경 */
}

.highlighted {
  background-color: #d2fdff; /* 강조 표시에 사용할 색 */
}
