.modal-content label {
  display: flex; /* 라벨을 플렉스 컨테이너로 설정 */
  justify-content: space-between; /* 텍스트와 입력 필드 사이의 공간 균등 분배 */
  align-items: center; /* 세로 중앙 정렬 */
  margin-bottom: 10px; /* 각 라벨 아래 여백 */
}

.modal-content label span {
  min-width: 100px; /* 라벨 텍스트의 최소 너비 설정 */
}

.modal-content input[type="number"] {
  flex: 1; /* 입력 필드가 남은 공간 모두 차지 */
  padding: 8px; /* 입력 필드 패딩 */
  margin: 0px; /* 라벨과의 간격 */
  margin-left: 8px; /* 라벨과의 간격 */
  border: 1px solid #ccc; /* 테두리 스타일 */
  border-radius: 4px; /* 테두리 둥글게 */
}

.modal-content form .newStart {
  padding: 10px 20px;
  background-color: #4caf50;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
  width: 100%; /* 버튼 너비 전체 사용 */
  margin-top: 0px; /* 상단 여백 추가 */
}

button:hover {
  background-color: #45a049;
}
