.game-container {
  display: flex; /* Flexbox 레이아웃 설정 */
  flex-direction: column; /* 자식 요소를 세로 방향으로 정렬 */
  align-items: center; /* 수직 방향으로 중앙 정렬 */
  height: fit-content;
  min-height: 100vh; /* 뷰포트 높이의 100%로 설정 */
  width: 100%; /* 내용에 맞는 너비 설정 */
  margin: auto; /* 수포적 중앙 정렬 */
  padding-top: 1rem;
  background-color: #fafafa;
}

.upper-buttons {
  max-width: 600px;
  display: flex;
  width: 100%;
  justify-content: flex-end;
  gap: 0.5rem;
  padding-right: 1.5rem;
}

.button {
  padding: 10px 15px; /* 패딩 설정 */
  border: none; /* 테두리 없음 */
  background-color: #4caf50; /* 배경색 */
  color: white; /* 글자색 */
  border-radius: 5px; /* 모서리 둥글게 */
  cursor: pointer; /* 커서 포인터 모양 */
  font-size: 16px; /* 글자 크기 */
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); /* 박스 그림자 */
}

.button:hover {
  background-color: #45a049; /* 호버 시 색상 변경 */
}

.table-wrapper {
  position: relative;

  width: 100%;
  height: 340px;
  overflow-x: scroll;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
.table::-webkit-scrollbar {
  display: none;
}

.table {
  position: absolute;
  top: 0;
  left: calc(50vw - 340px / 2);

  width: fit-content;
  height: fit-content;
  display: flex;
  flex-flow: column;
  padding: 1rem;
  border: 2px solid #000;
  background-color: rgb(166, 168, 166);
  touch-action: none; /* disable mobile swipe scroll */
}

.tableRow {
  display: flex;
}

.tableCell {
  margin: 1px;
  width: 36px;
  height: 36px;
  background-color: #fafafa; /* 기본 배경색 */
  user-select: none; /* 텍스트 선택 방지 */
  font-size: 16px; /* 글자 크기 설정 */
  font-weight: 500; /* 글자 두께 설정 */
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 2px;
}

@media (hover: hover) and (pointer: fine) {
  .tableCell:not(.wall):hover {
    background-color: #e0e0e0; /* 호버 시 배경색 변경 */
  }
}

.highlighted {
  background-color: #fbffd7; /* 강조 표시에 사용할 색 */
}

.player1 {
  background-color: #d0ebff;
}

.player2 {
  background-color: #ffd2d2;
}

.wall {
  background: transparent;

  /* background-color: #9b9b9b; /* 'owner'가 -2인 타일의 색 */
}

.special {
  background-color: #bdffcc; /* 'owner'가 -1인 타일의 색 */
}

.status-bar,
.score-board {
  width: 100%; /* 부모 컨테이너의 전체 너비 사용 */
  text-align: center; /* 텍스트 중앙 정렬 */
  padding: 10px 0; /* 패딩으로 요소 내부 공간 생성 */
  color: #333; /* 글자색 설정 */
  font-size: 16px; /* 글자 크기 설정 */
  margin: 20px 0; /* 위 아래 마진 설정 */
  background-color: #f3f3f3; /* 배경색 설정 */
  border-radius: 0 0 8px 8px; /* 모서리 둥글게 처리 */
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* 박스 그림자 효과 */
}

.player-info {
  width: 100%;
  max-width: 600px;
  padding: 0 0 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 0.5rem;
}

.player-info > div {
  width: 40%;
  padding: 0.5rem 0;
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.player-info > div span:nth-child(1) {
  padding-bottom: 0.25rem;
  font-size: 1.25rem;
}
.player-info > div span:nth-child(2) {
  font-size: 13px;
}

.player-info > div.player-1 {
  background-color: rgba(208, 235, 255, 0.5);
  transform: scale(0.95);
  transition-duration: scale 0.5s;
}

.player-info > div.player-1.active {
  background-color: rgba(208, 235, 255, 1);
  box-shadow: 0 0 0 0 rgba(208, 235, 255, 1);
  transform: scale(1);
  animation: pulse-1 1.25s ease-out infinite;
}

.player-info > div.player-2 {
  background-color: rgba(255, 210, 210, 0.5);
  transform: scale(0.95);
}

.player-info > div.player-2.active {
  background-color: rgba(255, 210, 210, 1);
  box-shadow: 0 0 0 0 rgba(255, 210, 210, 1);
  transform: scale(1);
  animation: pulse-2 1.25s ease-out infinite;
  transition-duration: scale 0.5s;
}

.feedback {
  padding: 1rem 0 1rem 0;
}

@keyframes pulse-1 {
  0% {
    box-shadow: 0 0 0 0 rgba(208, 235, 255, 1);
  }
  30% {
    box-shadow: 0 0 0 7px rgba(208, 235, 255, 0.3);
  }
  100% {
    box-shadow: 0 0 0 9px rgba(255, 255, 255, 0);
  }
}

@keyframes pulse-2 {
  0% {
    box-shadow: 0 0 0 0 rgba(255, 210, 210, 1);
  }
  30% {
    box-shadow: 0 0 0 7px rgba(255, 210, 210, 0.3);
  }
  100% {
    box-shadow: 0 0 0 9px rgba(255, 255, 255, 0);
  }
}
